html {
    background-color: #bf9a49;
}

.header {
    font-family: 'Big Shoulders Display', sans-serif;
    background-color: #0c852c;
    border-bottom: 4px solid #40403d;
    border-bottom-left-radius: 3%;
    border-bottom-right-radius: 3%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 13%;
    text-align: center;
}

.navigationBar {
    font-family: 'Big Shoulders Display', sans-serif;
    display: inline;
    background-color: rgba(0, 0, 0, 0);
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    font-size: 1.3em;
    text-decoration: none;
}

#notHiddenLinks {
    display: block;
    font-family: 'Big Shoulders Display', sans-serif;
    position: absolute;
    right: 6%;
    top: 22%;
    background-color: rgba(0, 0, 0, 0);
    font-size: 1.3em;
    width: 20%;
    text-decoration: none;
}

#hiddenLinks {
    display: none;
    font-family: 'Big Shoulders Display', sans-serif;
    position: absolute;
    right: 6%;
    top: 22%;
    background-color: rgba(0, 0, 0, 0);
    font-size: 1.3em;
    width: 20%;
    text-decoration: none;
}

.mainText {
    color: #0f2233;
    font-size: 1.8em;
    background-color: rgba(0, 0, 0, 0);
}

.links {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0);
    color: black;
    margin-left: 10px;
}

.current {
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0);
    cursor: default;
    color: #823310;
    box-shadow: 2px #111;
    text-decoration: none;
    margin-left: 10px;
}

.content {
    font-family: 'Roboto', sans-serif;
    position: static;
    margin-top: 15%;
    z-index: 1;
    display: block;
    margin-left: auto;
    border: 3px solid #40403d;
    border-radius: 1em;
    margin-right: auto;
    background-color: #0c852c;
    width: 20%;
}

.wrapper input, button {
    background-color: #bf9a49;
    border: 2px solid black;
    border-radius: 0.7em;
}


.wrapper input::-webkit-input-placeholder {
    color: black;
    margin-left: auto;
    margin-right: auto;
}

.wrapper {
     background-color: rgba(0, 0, 0, 0);
}


.button {
    outline:none;
    color: black;
    font-size: 1.1em;
}

.buttons {
    background-color: rgba(0, 0, 0, 0);
}

.button:hover {
    background-color: #d69f27;
}


.required {
    color: #bf0000;
    font-size: 1.1em;
    background-color: rgba(0, 0, 0, 0);
}

.nonRequired {
    color: rgba(0, 0, 0, 0);
}

.field {
    display: inline-block;
    clear:both;
    text-align:right;
    line-height:25px;
    background-color: rgba(0, 0, 0, 0);
}

.field input {
    outline:none;
}

label {
    font-weight: bold;
    float:left;
    padding-right: 10px;
    background-color: rgba(0, 0, 0, 0);
}

#logo {
    position: absolute;
    top: -4%;
    left: 0;
    width: 8%;
    background-color: rgba(0, 0, 0, 0);
}

.form-name {
    background-color: rgba(0, 0, 0, 0);
}

.profile {
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 400px;
    background-color: #0c852c;
    border: 2px solid #40403d;
    border-radius: 0.7em;
}

.profileImage {
    float: left;
    width: 30%;
    height: 85%;
    margin: 1% 0 0 1%;
    border: 2px solid #40403d;
    border-radius: 0.7em;
}

.userInformation {
    float: left;
    width: 50%;
    height: 55%;
}

.personalInformation {
    margin-left: 32%;
}

.informationField {
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3em;
    margin: 0;
    margin-bottom: 1%;
    margin-left: 2%;
}

#editButton {
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    margin-left: 2%;
}

.participationInConfs {
    float: left;
    width: 50%;
    height: 100%;
}

.participationInfo {
    border: 2px solid #40403d;
    border-radius: 0.7em;
    margin-bottom: 2%;
}

.confInfoTitle {
    text-align: center;
    font-size: 1.4em;
}

.userInfoTitle {
    text-align: center;
    font-size: 1.4em;
}

.confPartList {
    width: 98%;
    height: 85%;
    overflow: auto;
}

#hidden{
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.4);
}

#closeWindow {
    outline: none;
    border: 1px solid #40403d;
    border-radius: 50%;
    background-color: #bf9a49;
}

#closeWindow:hover {
    background-color: #d69f27;
}


#hiddenWindow, #hiddenWindow2, #hiddenWindow3, #hiddenWindow4, #hiddenWindow5, #hiddenWindow6 {
    font-family: 'Roboto', sans-serif;
    position: fixed;
    top: 25%;
    left: 40%;
    display: none;
    width: 20%;
    min-width: 200px;
    border: 2px solid #40403d;
    border-radius: 0.7em;
    background-color: #0c852c;
}

.updatePanel {
    text-align: center;
}

.updatePanel2, .updatePanel3, .updatePanel4, .updatePanel5, .updatePanel6 {
    text-align: center;
    display: none;
}

.selectModeForm {
    margin-top: 10%;
    text-align: center;
}


th {
    padding: 5px 10px;
    background-color: #0c852c;
    border: 1px solid #40403d;
}

td:not(td:last-child) {
    padding: 5px 10px;
    background-color: #d69f27;
    border: 1px solid #40403d;
}

table {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    border-collapse: collapse;
    border-radius: 10px;
    border-spacing: 0;
    text-align: center;
}

.adminButton {
    background-color: none;
    padding-left: 10px;
}


th, td {
    border-width: 0 1px 1px 0;
}

th:first-child, td:first-child {
    text-align: left;
}

th:first-child {
    border-top-left-radius: 10px;
}

th:last-child {
    border-top-right-radius: 10px;
    border-right: none;
}

tr:last-child td:first-child {
    border-radius: 0 0 0 10px;
}

tr:last-child td{
    border-bottom: none;
}

tr:last-child td:nth-last-child(2) {
    border-radius: 0 0 10px 0;
}

tr td:nth-last-child(2) {
    border-right: none;
}

tr td:first-child {
    border-left: none;
}

tr td:last-child {
    border-right: none;
    background-color: rgba (0, 0, 0, 0);
}

.conferences_list {
    margin-left: auto;
    margin-right: auto;
    margin-top: 8%;
    width: 25%;
}

.conference {
    font-family: 'Big Shoulders Display', sans-serif;
    background-color: #0c852c;
    height: 225px;
    border: 2px solid #40403d;
    border-radius: 0.7em;
    margin-left: 25px;
    margin-top: 25px;
}

.conference a, .conference p {
    display: block;
    margin: 0;
    margin-top: 10px;
    margin-left: 10px;
}

.conf_date {
    color: #40403d;
}

.conf_link {
    color: black;
    text-decoration: underline;
}

.pagination {
    font-size: 1.2em;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.paginationLink {
    text-align: center;
    color: #0c852c;
    margin-right: 7px;
    text-decoration: none;
}

.paginationCurrentLink {
    text-align: center;
    color: #823310;
    margin-right: 7px;
    text-decoration: none;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0);
    cursor: default;
}

.languageLinks {
    font-family: 'Big Shoulders Display', sans-serif;
    position: absolute;
    left: 6%;
    top: 22%;
    background-color: rgba(0, 0, 0, 0);
    font-size: 1.3em;
    width: 7%;
    text-decoration: none;
}
